Repository gsuquet/choco-setup, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, gitignore, github_actions, documentation, configuration, packages, scripts

:construction_worker: feat: Use centralized workflow
  .github/workflows/integration.yaml
  .github/workflows/pr.yaml
Labels: ci, github_actions

:construction_worker: feat: Use centralized workflow (#2)
  .github/workflows/integration.yaml
  .github/workflows/pr.yaml
Labels: ci, github_actions

:contruction_worker: feat: Add automated doc update
  .github/workflows/integration.yaml
  README.md
  scripts/generate_package_list.sh
Labels: ci, github_actions, documentation

:bud: fix: Add . in path
  .github/workflows/integration.yaml
Labels: ci, github_actions

:bug: fix: Delete extra dots and slashes in path
  .github/workflows/integration.yaml
Labels: ci, github_actions

:bug: fix: Update script file name
  .github/workflows/integration.yaml
Labels: ci, github_actions

:bug: fix: Add permissions to execute script
  .github/workflows/integration.yaml
Labels: ci, github_actions

:construction_worker: feat: Add commit to change readme
  .github/workflows/integration.yaml
Labels: ci, github_actions

:bug: fix: Add branch ref and changed bot email
  .github/workflows/integration.yaml
Labels: ci, github_actions

:memo: doc: Update package list in README
  README.md
Labels: documentation

:bug: fix: Update script to include last line in files and delete table
  README.md
  scripts/generate_package_list.sh
Labels: documentation

:memo: doc: Update package list in README
  README.md
Labels: documentation

:bug: fix: Update script to delete the following content of the readme
  README.md
  scripts/generate_package_list.sh
Labels: documentation

:memo: doc: Update package list in README
  README.md
Labels: documentation

:construction_worker: feat: Add automated doc update (#3)
  .github/workflows/integration.yaml
  README.md
  scripts/generate_package_list.sh
Labels: ci, github_actions, documentation

:sparkles: feat: Add gpg4win, gnupg, rpi-images and nmap
  packages/tools-dev.txt
Labels: packages

:memo: doc: Update package list in README
  README.md
Labels: documentation

:sparkles: feat: Add gpg4win, gnupg, rpi-images and nmap (#4)
  README.md
  packages/tools-dev.txt
Labels: documentation, packages

:memo: feat: Upgrade automatic doc update
  .github/workflows/integration.yaml
  README.md
  scripts/generate_package_list.sh
Labels: ci, github_actions, documentation

:memo: feat: Add PR template
  .github/pull_request_template.md
Labels: documentation

:memo: feat: Upgrade automatic doc update and add PR template (#5)
  .github/pull_request_template.md
  .github/workflows/integration.yaml
  README.md
  scripts/generate_package_list.sh
Labels: ci, github_actions, documentation

.github/labeler.yml:

# PR labeler configuration file
ci:
  - any: ['.github/**/*', '!.github/ISSUE_TEMPLATE/*', '!.github/pull_request_template.md']
  - .pre-commit-config.yaml
  - .pre-commit-config/**/*

gitignore:
  - .gitignore

github_actions:
  - any: ['.github/**/*', '!.github/ISSUE_TEMPLATE/*', '!.github/pull_request_template.md']

documentation:
  - CHANGELOG.md
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - LICENSE
  - SECURITY.md
  - .github/ISSUE_TEMPLATE/**/*
  - .github/pull_request_template.md
  - '**/README.md'

configuration:
  - .pre-commit-config.yaml
  - .editorconfig
  - .devcontainer/**/*

packages:
  - packages/**/*

scripts:
  - '*.ps1'
